<div class="container mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup] = 'form' class="">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="name" formControlName="full_name" required>
            <div *ngIf="full_name?.invalid && (full_name?.dirty || full_name?.touched)" class="form-text">
                <div *ngif="full_name?.errors?.required">Name is required</div>
                <div *ngif="full_name?.errors?.minLength">Minimum length name is 3 char</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputGender" class="form-label">Gender</label>
            <select class="form-select" id="exampleInputGender" name="gender" required>
                <option selected disabled>Open this select menu</option>
                <option *ngFor="let option of genders" [value]="option">{{ option }}</option>
              </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>