<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="container mt-5">
                <h1>Hi, I am <b>Krisna</b>!</h1>
                <p class="pe-5 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a, veniam temporibus facere sint at, nihil ex cumque quaerat incidunt dignissimos, adipisci ut! Assumenda nemo rerum nihil necessitatibus, nam eum.</p>
                <!-- <button class="btn mt-3" [ngClass]="isButtonError ? 'btn-primary' : 'btn-danger'" (click)="clickMe()">Download Resume</button> -->
                <app-button></app-button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <img class="img-fluid rounded-circle w-75" src="https://avatars.githubusercontent.com/u/71877579?v=4" alt="">
            </div>
        </div>
    </div>
</div>